/* MOBILE FIRST */
*{
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}
/* COLORES */
:root{
    --color-primario: #364f6b;
    --color-secundario: #3fc1c9;
    --color-claro: #f5f5f5;
    --color-accent: #fc5185;
}
h1{
    font-size: 3.8rem;
    text-align: center;
}
h2{
    font-size: 3.3rem;
    text-align: center;
}
h3{
    font-size: 2.8rem;
    text-align: center;
}
h4{
    font-size: 2.2rem;
}
p, div, span, pre, li, a, strong{
    font-size: 1.8rem;
}
ul{
    margin-left: 50px;
}
body{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: var(--color-claro);
    margin: auto;
    width: 100vw;
    display: grid;
    grid-template-areas: "logo_FS"
                        "head_titulo"
                        "inicio";
}
#logo_FS{
    grid-area: logo_FS;
    width: 40%;
    max-width: 300px;
    justify-self: center;
}
#head_titulo{
    grid-area: head_titulo;
    font-size: 3rem!important;
}
#head_titulo *{
    margin: auto;
    text-align: center;
    color: var(--color-primario);
}
#head_titulo a:visited{
    color: var(--color-accent);
}
#head_titulo a:hover{
    color: var(--color-accent);
}
#inicio{
    grid-area: inicio;
    filter: brightness(100%);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin: 20px 0;
}
#inicio .curso{
    margin: 5px 10px;
    flex: 100% 1 1;
    height: auto;
    border: 1px var(--color-primario) solid;
    box-shadow: 5px 5px 5px var(--color-primario);
    display: flex;
    align-items: center;
}
.curso img{
    max-width: 70px;
    margin: 10px;
}
.curso p{
    font-size: 1.8rem;
    text-align: center;
    margin: 5px;
}
.curso strong{
    font-weight: bolder;
}
#inicio .curso:hover{
    cursor: pointer;
    box-shadow: none;
    border-color: var(--color-claro);
}
.curso:hover img{
    transform: rotate(40deg);
    transition: 700ms ease;
    opacity: 0.5;
}
.curso:hover p{
    color: var(--color-accent);
}

/* MODAL */
#modal,
#modal_error{
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: -webkit-fill-available;
    height: -moz-fill-available;
    height: -o-fill-available;
    height: -ms-fill-available;
    margin: auto;
}
#modal{
    grid-template-rows: 10% 10% 72% 8%;
    grid-template-areas: "m_herramientas"
                        "m_titulo"
                        "m_contenido"
                        "m_footer";
    animation-name: deslizar_arriba;
    animation-duration: 1s;
}
@keyframes deslizar_arriba{
    from{
        top: 100%;
        opacity: 0.5;
    }to{
        bottom: 0;
        opacity:1;
    }
}
@keyframes deslizar_abajo{
    from{
        top: -100%;
        opacity: 0.5;
    }to{
        bottom: 0;
        opacity: 1;
    }
}
#modal #m_herramientas{
    grid-area: m_herramientas;
    background-color: var(--color-primario);
    color: var(--color-claro);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bolder;
}
#modal #m_herramientas>*{
    cursor: pointer;
    font-size: 3rem;
}
#modal #m_anterior,
#modal #m_siguiente,
#modal #m_cerrar{
    border-radius: 100%;
    padding: 5px;
    transition: 500ms ease-in-out;
}
#modal #m_anterior:hover,
#modal #m_siguiente:hover,
#modal #m_cerrar:hover{
    background-color: var(--color-primario);
    color: var(--color-accent);
    font-weight: bolder;
}

#modal #m_titulo{
    grid-area: m_titulo;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secundario);
    color: var(--color-primario);
    text-shadow: 0px 0px 10px var(--color-claro);
}
#modal #m_contenido{
    grid-area: m_contenido;
    width: 100%;
    padding: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    color: var(--color-claro);
    background-size: cover;
    background-position: center;
    overflow-y: auto;
}
#modal #m_contenido>*{
    flex: 50% 0 1;
    margin: 0 40px;
    font-size: 2.5rem;
    text-align: justify;
    align-self: center;
}
#modal #m_contenido .pres_img{
    max-width: 200px;
    display: inline;
    order: 1;
}
#modal #m_footer{
    grid-area: m_footer;
    color: var(--color-primario);
    background-color: var(--color-secundario);
    vertical-align: middle;
    font-size: 1.5rem;
    text-align: center;
}
#modal #m_footer>a{
    animation: parpadeante infinite linear 0.5s;
    font-size: 2rem;
}
@keyframes parpadeante{
    0%{
        color: var(--color-secundario);
    }
    100%{
        color: var(--color-accent);
    }
}
#modal_error{
    justify-content: center;
    align-items: center;
    background-color: transparent;
    animation: deslizar_abajo ease-in-out 1s;
}
#modal_error #error_alerta{
    border: ridge 5px var(--color-secundario);
    color: var(--color-claro);
    background-color: var(--color-primario);
    width: 400px;
    height: auto;
    border-radius: 10px;
    position: relative;
    top:0;
}
#modal_error #error_alerta>*{
    margin: 20px;
}
#modal_error h4{
    border-bottom: var(--color-secundario) 3px double;
    color: var(--color-secundario);
}
#modal_error p{
    text-align: justify;
}
#modal_error #me_cerrar{
    position: absolute;
    top: -20px;
    right: -15px;
    display: inline;
    padding: 5px;
    border-radius: 100%;
    color: var(--color-accent);
    font-size: 1.3rem;
    cursor: pointer;
}
#modal_error #me_cerrar:hover{
    color: var(--color-secundario);
}

@media screen and (min-width:700px){
    body{
        width: 90vw;
    }
    h1{
        font-size: 4rem;
        text-align: center;
    }
    h2{
        font-size: 3.5rem;
        text-align: center;
    }
    h3{
        font-size: 3rem;
        text-align: center;
    }
    h4{
        font-size: 2.5rem;
    }
    p, div, span, pre, li, a, strong{
        font-size: 2rem;
    }
    #inicio .curso{
        flex: 25% 1 0;
    }
    #modal #m_contenido *{
        max-width: 35%;
        flex: 45% 1 0;
        font-size: 2.5rem;
    }
    #modal #m_contenido .pres_img{
        max-width: 300px;
    }
}